page-mainpage {

}
.h2-strong{
  font-size: 25px;
  font-weight: bold;
  margin-left: 10px;
  padding-bottom: 10px;
  border-bottom: solid #000000 1px;
  text-align: center;
}



.divisor{
  padding: 20px;

}

