<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Favorits</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item padding>
    <button (click)="addDommie()" ion-button item-right>AFEGIR</button>
  </ion-item>

  <div>
    <ul *ngFor="let activity of favoritList">
      <ion-card>
        <ion-item padding>
          <button (click)="delete(activity)" ion-button item-right>x</button>
        </ion-item>
        <ion-item>
          <h3><b>{{activity.name}}</b><a><small>@{{activity.user}}</small></a></h3>
        </ion-item>
        <ion-card-content>
          <p><i>Publicat el {{activity.date | date:"dd/MM/yyyy 'a les' h:mma"}}</i></p>
          <hr><h5>{{activity.description}}</h5>
        </ion-card-content>
        <ion-card-content>
          <div class="row"> Etiquetes:
            <div class="card" *ngFor="let tag of activity.tags">
              <ion-card>{{tag}}</ion-card>
            </div>
          </div>

          <div class="row"> Categories:
            <div class="card" *ngFor="let category of activity.category">
              <ion-card>{{category}}</ion-card>
            </div>
          </div>
          <h3 align="right"><b>{{activity.cost}}h</b></h3>
        </ion-card-content>
      </ion-card>
    </ul>
  </div>

</ion-content>
